@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  transition:
    background-color 0.3s ease 0s,
    border 0.3s ease 0s;
}

body {
  font-family: Poppins, sans-serif;
  color: #e5e7eb;
  transition:
    color 0.3s ease 0s,
    background-color 0.3s ease 0s;

  line-height: 1.5;
  font-size: 1rem;
  background-color: #111827;
  overflow-y: hidden;
}
